---
layout: default
root: true

banner:
    title: Microsoft Dynamics 365
    description: Move beyond traditional CRM and ERP applications with Microsoft Dynamics 365 transform your business processes using intelligent and customer centric applications.
    button_label: View Our Services
    button_url: "#services-section"
    background_image: /assets/images/illustration.png

services:
    title: Services
    description: |
            When selecting the right tools and platforms for your unique business needs it’s equally important to choose the right partner who is committed to your success. <b>TrilliosQ</b> is a Business Applications   service provider specializing in Microsoft Dynamics products. We leverage Microsoft Dynamics to resolve your business challenges and help you to stay current with technology. Our services include:
    cards:
        -   name: Microsoft CRM Solutions
            description: |
                    <ul><li>Dynamics 365 Sales</li>
                    <li>Dynamics 365 Customer Service</li>
                    <li>Dynamics 365 Marketing</li>
                    <li>Dynamics 365 Field Service</li>
                    <li>Dynamics 365 Project Service Automation (PSA)</li>
                    <li>Dynamics 365 Connected Field Service</li>
                    <li>Dynamics 365 Artificial Intelligence (AI)</li></ul>
            image: /assets/images/services/communications.svg

        -   name: Microsoft Power Platform
            description: |
                <ul><li>Power Apps</li>
                <li>Power Apps Portals</li>
                <li>Power BI</li>
                <li>Power Automate</li>
                <li>Power Virtual Agents</li></ul>
            image: /assets/images/services/laptop.svg

        -   name: "Services & Support"
            description: |
                <ul><li>Consulting</li>
                <li>End-to-End Implementation</li>
                <li>Integrations with other applications</li>
                <li>Training</li>
                <li>24*7 Support </li></ul>
            image: /assets/images/services/repair.svg

about_us:
    main_content: |
        <p class="mid_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">If you’re looking for a trusted advisor to help you get more out of your products and your data, let <b>TrilliosQ</b> be it. </p>
        <p>We specialize in Microsoft Dynamics implementations and consulting services.</p>
        <p>With years of experience in implementing business applications, we understand what you need.  & partner with you to implement systems that address your unique requirements.</p>
        <p>We strive to enable our partners to simplify technology, acquire deeper insights and realize business value faster.</p>


contact_us:
    bottom_note: |
        Stay ahead of competition by partnering with <b>TrilliosQ</b>, a company that is committed to your success.<br/>
        To find out how <b>TrilliosQ</b> can help your business technology platforms with Microsoft’s suite of Business Applications

---


<!-- Banner  -->
{% include banner.html data=page.banner %}
<!--/ Banner  -->

<!-- About  -->
{% include about-us-section.html data=page.about_us %}
<!--/ About  -->

<!-- Services  -->
{% include services-section.html data=page.services %}
<!--/ Services  -->

{% include contact-us-section.html data=page.contact_us %}