<div class="about_area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-5 offset-lg-1">
                <div class="about_info">
                    <div class="section_title white_text">
                        <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">About Us</span>
                        <h4 class="wow fadeInUp text-white" data-wow-duration="1s" data-wow-delay=".4s">Microsoft Dynamic CRM Consulting & Custom Development</h4>
                        <p class="mid_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s"><b>{{site.title}}</b> is a seasoned Microsoft Dynamic CRM consulting and custom development company. If you’re looking for a trusted advisor to help you get more out of your team and your company, let <b>{{site.title}}</b> be it.</p>
                        <p class="last_text wow fadeInUp" data-wow-duration="1s" data-wow-delay=".6s">We are here to support your business and it’s growth – from planning software that will move the needle, to developing that software and supporting you through the entire rollout.</p>
                        <a href="#" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>