<div class="about_area">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-lg-5 offset-lg-1">
                <div class="about_info">
                    <div class="section_title white_text">
                        <span class="wow fadeInUp" data-wow-duration="1s" data-wow-delay=".3s">About Us</span>
                        <h4 class="wow fadeInUp text-white" data-wow-duration="1s" data-wow-delay=".4s">{{ include.description }}</h4>
                        {{ include.main_content }}
                        <a href="/about.html" class="boxed-btn3 wow fadeInUp" data-wow-duration="1s" data-wow-delay=".7s">About Us</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>