<div class="slider_area">
    <div class="single_slider about_banner  d-flex align-items-center slider_bg_1 overlay">
        <div class="container">
            <div class="row align-items-center justify-content-start">
                <div class="col-lg-12 col-md-12">
                    <div class="slider_text">
                        <h3 class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".1s" style="visibility: visible; animation-duration: 1s; animation-delay: 0.1s;">
                            {{ include.title }}
                        </h3>
                        <a class="boxed-btn3 wow fadeInLeft" data-wow-duration="1s" data-wow-delay=".2s" href="{{ include.button_url }}" style="visibility: visible; animation-duration: 1s; animation-delay: 0.2s;">{{ include.button_label }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>