<div class="site-section bg-image2 overlay" id="contact-section" style="background-image: url('/assets2/img/banner/bradcam_2-compressor.png');">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12 text-center text-white">
                <p>{{ include.data.description }}</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <a class="btn btn-primary" href="./contact.html#contact-title">Contact US</a>
        </div>

    </div>
</div>
